body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;

    h1 {
        color: #333;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* This will make the container fill the entire viewport height. */
    }

    .converter {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 50%; /* Set the width to 50% of the viewport width. */
    }

    select, input, button {
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        font-size: 16px;
    }

    button {
        background-color: #0074cc;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #0056b3;
    }

    #result {
        font-weight: bold;
        color: #00bf64;
        margin-top: 15px;
    }

    #feedback {
        text-align: center;
    }

    #feedbackForm {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    #thankYouMessage {
        font-weight: bold;
        color: #00bf64;
        margin-bottom: 15px;
    }

    #feedback {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    #userFeedbackForm button {
        background-color: #0074cc;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #userFeedbackForm button:hover {
        background-color: #0056b3;
    }
}
